In [51]:
import torch
import pandas as pd
import numpy as np

In [52]:
filename = r'iris\iris.data'
df = pd.read_csv(filename, sep=',', header=None)
df.tail(4)

       0    1    2    3               4
146  6.3  2.5  5.0  1.9  Iris-virginica
147  6.5  3.0  5.2  2.0  Iris-virginica
148  6.2  3.4  5.4  2.3  Iris-virginica
149  5.9  3.0  5.1  1.8  Iris-virginica

In [53]:
for i in range(df.shape[0]):
    if df.iloc[i,-1] == 'Iris-setosa':
        df.iloc[i,-1] = int(1)
    elif df.iloc[i,-1] == 'Iris-versicolor':
        df.iloc[i,-1] = int(2)
    elif df.iloc[i,-1] == 'Iris-virginica':
        df.iloc[i,-1] = int(3)
    else:
        None    
df.tail(6)

       0    1    2    3  4
144  6.7  3.3  5.7  2.5  3
145  6.7  3.0  5.2  2.3  3
146  6.3  2.5  5.0  1.9  3
147  6.5  3.0  5.2  2.0  3
148  6.2  3.4  5.4  2.3  3
149  5.9  3.0  5.1  1.8  3

In [54]:
data_tensor = torch.from_numpy(np.array(df.iloc[:,:-1])).to(torch.float32)
label_tensor = torch.from_numpy(np.array(df.iloc[:,-1].astype(float))).to(torch.float32)

In [55]:
df.iloc[:,-1].astype(float)

0      1.0
1      1.0
2      1.0
3      1.0
4      1.0
      ...
145    3.0
146    3.0
147    3.0
148    3.0
149    3.0
Name: 4, Length: 150, dtype: float64