In [14]:
import pandas as pd
import numpy as np

In [2]:
dic = {'lenght':[12,15,11,14,9,13],
       'width':[5,8,7,8,4,10],
       'intensity':[155,88,210,154,160,145],
       'label':[1,1,1,2,2,2]
}

In [5]:
df = pd.DataFrame(dic)
df

   lenght  width  intensity  label
0      12      5        155      1
1      15      8         88      1
2      11      7        210      1
3      14      8        154      2
4       9      4        160      2
5      13     10        145      2

In [16]:
fish_lenght = np.array(df.iloc[:,0])
fish_width = np.array(df.iloc[:,1])
fish_intensity = np.array(df.iloc[:,2])

In [18]:
df.iloc[0,:] = [15,10,240,2]

In [19]:
df

   lenght  width  intensity  label
0      15     10        240      2
1      15      8         88      1
2      11      7        210      1
3      14      8        154      2
4       9      4        160      2
5      13     10        145      2

In [20]:
df.iloc[1,:] = [10,10,10,10]
df

   lenght  width  intensity  label
0      15     10        240      2
1      10     10         10     10
2      11      7        210      1
3      14      8        154      2
4       9      4        160      2
5      13     10        145      2

In [21]:
data_numpy = np.array(df.iloc[:,:-1])
label_numpy = np.array(df.iloc[:,-1])